{% extends 'base.html' %}

{% block title %}Update Article{% endblock %}

{% block menu %}
    <li><a href="{% url 'article_view' article.pk %}">View</a></li>
{% endblock %}

{% block content %}
    <h1>Update Article</h1>
    <form method="POST" action="{% url 'article_update' article.pk %}">
        {% csrf_token %}
        <p><label>Title</label> <input type="text" name="title" value="{{ article.title }}"></p>
        <p><label>Author</label> <input type="text" name="author" value="{{ article.author }}"></p>
        <p><label>Text</label> <textarea name="text">{{ article.text }}</textarea></p>
        <p><input type="submit" value="Update"></p>
    </form>
{% endblock %}
