{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block menu %}
    <li><a href="{% url "article_update" article.pk %}">Edit</a></li>
    <li><a href="{% url "article_delete" article.pk %}">Delete</a></li>
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>Created by {{ article.author }} ({{ article.category|default_if_none:'Без категории' }})
            at {{ article.created_at|date:'d.m.Y H:i:s' }}</p>
    <div class="pre">{{ article.text }}</div>
    <hr/>
    <h3>Comments:</h3>
    <p><a href="{% url 'article_comment_create' article.pk %}">Добавить комментарий</a></p>
    {% for comment in article.comments.all %}
        <div class="comment">
            <p>{{ comment.author }} commented at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>
            <div class="pre">{{ comment.text }}</div>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
{% endblock %}
